.home {
    width: 100%;
    min-width: 650px;
    margin-top: 0;
}
.home-intro {
    min-width: 650px;
    background-image: url("../../src/img/main-yoga.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: 900;
}   
.welcome-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 50px 250px 50px;
}
.welcoming {
    margin-bottom: 0;
}
.intro-title {
    font-size: 3.5rem;
    font-weight: 1000;
    color: var(--base_color);
    margin-top: 0.3rem;
    margin-bottom: 0;
}
.slogan-wrapper {
    position: relative;
    height: 2rem;
    margin-bottom: 16px;
}
.intro-slogan {
    margin-top: 0;
    color: var(--accent-color);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    position: relative;
}
.register-btn-link-box {
    margin-top: 10px;
}
.register-btn {
    background-color: var(--accent-color);
    text-decoration: none;
    text-align: center;
    padding: 0.8rem ;
    color: var(--base_color);
    font-size: 1.5rem;
}
.yoga-vid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vid-section {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.yoga-vid {
    padding: 2rem;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnail-container {
    position: relative;
    display: inline-block;
}
.thumbnail-img {
    width: 23.5rem;
    height: 19rem;
    display: block;
    transition: 0.3s ease;
    border-radius: 10px;
}
.thumbnail-img:hover {
    filter: brightness(70%);
}
.playbtn-title-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 1.5rem;
    bottom: 2rem;
}
.playbtn {
    width: 48px;
    height: 48px;
    background: url("../../src/img/play-button.png") no-repeat center center;
    background-size: contain;
}
.thumbnail-title {
    color: #fff;
    font-size: 1.3rem;
}
.section-header {
    margin-top: 3rem;
    margin-bottom: 0;
}
.section-title {
    margin-top: 3.5rem;
    margin-bottom: 0.3rem;
}
.section-description {
    margin-bottom: 2rem;
}
.detail {
    min-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.view-all-btn {
    border-radius: 1rem;
    transition: 0.5s ease-out;
}
.view-all-btn:hover {
    background-color: var(--base_color);
    transition: 0.5s ease;
    border-radius: 1rem;
}
.view-all-btn-link {
    text-decoration: none;
    color: var(--accent-color);
}


@keyframes fade-in {
    from {
        left: 0;
        bottom: 0;
        background-color: var(--base_color); opacity: 0.8;
    }
    to {
        left: 90%;
        background-color:var(--base_color); opacity: 0.8;}
}


@media  screen and (min-width:1341px) {
    .intro-slogan-box {
        position: absolute;
        bottom: 0;
        width: 7.5rem;
        height: 2rem;
        border-radius: 10px;
        animation: fade-in 15s infinite;
    }
}

@media screen and (max-width: 1340px){
    .slogan-wrapper {
        position: relative;
        height: 2rem;
        margin-bottom: 50px;
    }
    .intro-slogan {
        background-color: #dee7e498;;
        margin-top: 0;
        color: var(--accent-color);
        font-size: 1.5rem;
        text-align: center;
        font-weight: 500;
        position: relative;
        border-radius: 10px;
    }
}

@media screen and (max-width: 728px) {
    .slogan-wrapper {
        position: relative;
        height: 2rem;
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 1280px) {
    .vid-section {
        flex-wrap: wrap;
    }
    .yoga-vid {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        transition: 2s ease-in;
    }
}
@media screen and (max-width: 1170px) {
    .yoga-vid {
        padding: 0.2rem;
        transition: 2s ease-in;
    }
}